{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

   
    <p>{{ post.title }}</p>
    <h2>{{ post.author }}</h2>
   
    <p>{{ post.text }}</p>
  

    <hr>
        <a class="btn btn-default" href="{% url 'comment_on_post' slug=post.slug %}">Add comment</a>
        {% for comment in post.comments.all %}
        <div class="comment">
            
            <strong>{{ comment.commenter }}</strong>
        <p>{{ comment.content }}</p>
        </div>

            {% empty %}
        
        <p>No comments here yet :(</p>
        {% endfor %} 
   

{% endblock content %}  