{% extends 'base.html' %}
{% load gravatar %}
{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

    <p>{{ post.title }}</p>
    <h2><img src="{% gravatar_url post.author.email 150 %}" height="42" width="42"/>
{{ post.author }}</h2>

    <p>{{ post.text }}</p>


          <p> {{post.votes.count}} Likes! </p>
        <form action="{% url 'upvote' slug=post.slug %}" method="POST">{% csrf_token %}
           <button type="submit" class="save btn btn-default">Like</button>
        </form>



         <form action="{% url 'delete_comment' %}" method="POST">{% csrf_token %}
           <input type="hidden" name="pk" value="{{ comment.pk }}"/>
           <button type="submit" class="save btn btn-default">Delete Comment</button>
        </form>

    <hr>
        <a class="btn btn-default" href="{% url 'comment_on_post' slug=post.slug %}">Add comment</a>

        {% for comment in post.comments.all %}

                <h3>  <strong> {{ comment.title }}</strong></h3>

            <p>{{ comment.content }}</p>

          <p> <img src="{% gravatar_url comment.commenter.email 150 %}" height="42" width="42"/>
 <strong>{{ comment.commenter }}</strong></p>
        <form action="{% url 'delete_comment' %}" method="POST">{% csrf_token %}
           <input type="hidden" name="pk" value="{{ comment.pk }}"/>
           <button type="submit" class="save btn btn-default">Delete Comment</button>
        </form>




             {% empty %}

        <p>No comments here yet :(</p>
         {% endfor %}

        </div>

          <p>Do you wish to delete this post?</p>

        <form action="{% url 'delete_new_post' %}" method="POST">{% csrf_token %}
           <input type="hidden" name="pk" value="{{ post.pk }}"/>
           <button type="submit" class="save btn btn-default">Delete</button>
        </form>
     {% endblock content %}

