.header {

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHwr1bSkWy1cuhCVtJEifmEZbwx69TxcfJ-VNzNaePn8hm5SDQTA");
  

}

body { 
    
    background-color: rgb(167, 154, 147);
    padding: 2em;

}

h1 {
    padding: 2rem;
    color: whitesmoke;

}

.blinking
        
        {
            animation: blinker 5s linear infinite;
          }
          
          @keyframes blinker {

            0%{     color: ivory;    }
            49%{    color: transparent; }
            50%{    color: transparent; }
            99%{    color:transparent;  }
            100%{   color: ivory;    }
           
        }


.author {
     
    color: maroon;
}

.comment {

    font-size:15px;
    color: greenyellow;

}