{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}
                LinkMe
        {% endblock title %}
        </title>
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
   

    {% block header %}

    {% endblock header %}
    </head>
<body> 
     <header>
            <h1>LinkWorld</h1>
            <h2>Information linked to your fingertips...</h2>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'auth_login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'registration_register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
   

<body> 
    
<!-- as well as override content bits -->
<div class="header">
        <header>
                    <h1>LinkWorld</h1>
                    
                    <h2 class="blinking">Information linked to your fingertips...</h2>
                
                
                
             
        </header>
</div>    
    {% block content %}
    
    {% endblock content %}
    
    {% block footer %}
    
    {% endblock footer %}
    
    </body>
</html>