{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}
                LinkMe
        {% endblock title %}
        </title>
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
       <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    </head>

    {% block header %}

    {% endblock header %}
    
<body> 
            
<!-- as well as override content bits -->
<div class="header">
       
                    <h1>LinkWorld</h1>
                    
                    <h2 class="blinking">Information linked to your fingertips...</h2>        
             
        
</div>  
 
            <nav>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %}
                   
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    
                    {% else %}
                  
                        <a href="{% url 'auth_login' %}">Login</a>
                   
                   
                        <a href="{% url 'registration_register' %}">Register</a>
                    
                    {% endif %}
                
            </nav>
   


    {% block content %}
    
    {% endblock content %}
    
    {% block footer %}
    
    {% endblock footer %}
    
    </body>
</html>