{% extends 'base.html' %}
{% load el_pagination_tags %}
{% load staticfiles %}
{% load gravatar %}
{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}
<p><a href="{% url 'new_post'  %}">Do you want to add a new post?</a> </p>

{% paginate posts starting from page page %}
{% for post in posts %}
  <h3>
    <img src="{% gravatar_url post.author.email 150 %}" height="42" width="42"/>
    <a name="{{ post.slug }}" href ="{{ post.url }}">{{ post.title }}</a></h3>
   <p><a href="{% url 'post_detail' slug=post.slug %}">Details</a></p>
   <p> {{ post.text|truncatewords:100 }} </p>
   <p class="author"> by {{ post.author | title }} </p>
   <hr>

<a href="{% url 'post_detail' slug=post.slug %}">Comments: {{ post.comments.count }}, </a>
    <hr>
    <div> <span>{{post.votes.count}} Likes!
      {% if request.user.is_authenticated  and not post in posts_liked %}
        <form name="form{{ post.pk }}" action="{% url 'upvote' slug=post.slug %}" method="POST">{% csrf_token %}
          <a href="#" onclick="document.forms['form{{ post.pk }}'].submit(); return false;">Like</a>
        </form>
      {% endif %}
      </span>
    </div>

{% comment %}

{% endcomment %}
{% endfor %}

{% show_pages %}


{% endblock content %}